@inherits LayoutComponentBase

<PageTitle>TetrisApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
            @Body
    </main>
</div>
