@page "/Game"

<PageTitle>Game</PageTitle>

<p id="Titre">There is no Tetris</p>
<div class="playGround">
    <table id="Grid">
        @for(int i = 0; i <game.grid.height -6;i++) {
            <tr>
                @for (int j = 0; j < game.grid.width-1; j++){
                    <td class="cells"><t id="cell">@game.grid.DicLines["ligne"+(i+1).ToString()].cells[j]</t></td>
                }
            </tr>
        }
    </table>
    <br>
    <div>
        <button id="buttons">left</button>
        <button id="buttons">rotate</button>
        <button id="buttons">right</button>
    </div>
    <br>
    <p>Thank you</p>
</div>



@code {
    GameSys game = new GameSys();
    public void test(){
        Console.WriteLine("test:");
        Console.WriteLine(String.Join(",",game.grid.DicLines["ligne1"].cells));
    }
}