@page "/game"

<PageTitle>Game</PageTitle>
<button @onclick="test">Boutton de test</button>
<div id="Grille">
    @for (int i = 0; i < game.grid.width -1; i++)
    {
        @for (int j = 0; j < game.grid.height -6; j++)
        {
            <div id = i class="case">@game.grid.DicLines["ligne"+(j+1).ToString()].cells[i]</div>          
        }
    }
</div>



@code {
    public class GameSys
    {
        public Grid grid;

        public int score {get;set;}
        
        public int speed {get;set;}
        
        public TimeSpan time {get;set;}

        public GameSys(){
            this.grid = new Grid();
        }

        public GameSys(Grid grid, int score, int speed, TimeSpan time){
            this.grid = grid;
            this.score = score;
            this.speed = speed;
            this.time = time;
        }
        
        public static GameSys StartGame(){
            Grid grid = new Grid();
            TimeSpan time = new TimeSpan(0,0,0);
            GameSys NewGame;
            return NewGame = new GameSys(grid,0, 0, time);
        }
        
        public void SetScore(int multiplicateur){
            switch (multiplicateur){
                case 1:   //1 ligne clear
                    this.score += 150;
                    break;
                case 2:   //2 ligne clear
                    this.score += 400;
                    break;
                case 3:   //3 ligne clear
                    this.score += 600;
                    break;
                case 4:   //tetris
                    this.score += 1000;
                    break;
                case 5:   //ajout piece
                    this.score += 15;
                    break;
            }
        }
    }
    GameSys game = GameSys.StartGame();
    public void test(){
        Console.WriteLine("test:");
        Console.WriteLine(String.Join(",",game.grid.DicLines["ligne1"].cells));   
    }
}