@page "/"

<PageTitle>accueil</PageTitle>

<p id="Titre_Menu">Tetris</p>
<div id="Menu_Buttons">
    <a href="/Game">
        <button type="button" class="Menu_Button">Play</button>
    </a>
    <a href="/Options">
        <button type="button" class="Menu_Button">Option</button>
    </a>
    <a href="/Credits">
        <button type="button" class="Menu_Button">Credits</button>
    </a>
    
</div>
