/* _content/TetrisApp/Pages/Game.razor.rz.scp.css */
.cells[b-jofu3lqsux]{
    border-style: solid;
    text-emphasis-color: rgb(40, 154, 199);
    background-color: black;
    border-color: rgb(36, 221, 221);
    border-width: 0.005px;
    width: 30px;
    height: 30px;
}

#cell[b-jofu3lqsux] {
    color: rgb(255, 0, 0);
}

#Titre[b-jofu3lqsux]{
    text-align: center;
    color: rgb(98, 0, 255);
    font-size: 50px;
}

.playGround[b-jofu3lqsux]{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
/* _content/TetrisApp/Pages/Menu.razor.rz.scp.css */
#Titre_Menu[b-yaj7biw4b2] {
    font-size: 100px;
    text-align: center;
    color: rgb(98, 0, 255);
}

#Menu_Buttons[b-yaj7biw4b2]{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.Menu_Button[b-yaj7biw4b2] {
    margin-top: 5%;
}

body[b-yaj7biw4b2] {
    background-color: black;
}
/* _content/TetrisApp/Shared/MainLayout.razor.rz.scp.css */
.page[b-0m4zho7d1i] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-0m4zho7d1i] {
    flex: 1;
}

.sidebar[b-0m4zho7d1i] {
    background-image: linear-gradient(180deg, rgb(6, 86, 117) 0%, #3e044d 70%);
}

.top-row[b-0m4zho7d1i] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-0m4zho7d1i]  a, .top-row .btn-link[b-0m4zho7d1i] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-0m4zho7d1i] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-0m4zho7d1i] {
        display: none;
    }

    .top-row.auth[b-0m4zho7d1i] {
        justify-content: space-between;
    }

    .top-row a[b-0m4zho7d1i], .top-row .btn-link[b-0m4zho7d1i] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-0m4zho7d1i] {
        flex-direction: row;
    }

    .sidebar[b-0m4zho7d1i] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-0m4zho7d1i] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-0m4zho7d1i], article[b-0m4zho7d1i] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/TetrisApp/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-aaklvi1s4f] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-aaklvi1s4f] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-aaklvi1s4f] {
    font-size: 1.1rem;
}

.oi[b-aaklvi1s4f] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-aaklvi1s4f] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-aaklvi1s4f] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-aaklvi1s4f] {
        padding-bottom: 1rem;
    }

    .nav-item[b-aaklvi1s4f]  a {
        color: #020202;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-aaklvi1s4f]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: rgb(194, 5, 62);
}

.nav-item[b-aaklvi1s4f]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: rgb(0, 0, 0);
}

@media (min-width: 641px) {
    .navbar-toggler[b-aaklvi1s4f] {
        display: none;
    }

    .collapse[b-aaklvi1s4f] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
